body { 
    overflow: hidden; 
    background: #121212; 
    color: white;
    font-weight: 200;
}

canvas { 
    display: none; 
}

#container {
    position: absolute;

    left: 50%;
    width: 330px;
    margin-left: -115px;

    top: 50%;
    height: 300px;
    margin-top: -150px;

    text-align: center;
}

h1 {
    font-size: 96px;
    font-weight: 200;
    line-height: 1em;
}

p {
    font-size: 24px;

}